
  
  .navbar {
    background-color: #262731;
  }
  
  .nav-link {
    color: #FFFF00 !important; 
  }
  body {
    background-color: #313026;
    color: #fff; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
}


button {
    padding: 10px;
    background-color: #FFFF00;
    border-radius: 10px;
    color: #262731;
    cursor: pointer;
    font-size: 16px;
}


.button:hover {
    background-color: #e5e500;
}

.form-group{
    background-color: #313026
}